/* sub1_3_오시는길.css */
#title_img {
    max-width: 1920px;
    min-width: 1200px;
    height: 500px;
    margin: 0 auto;
    /* overflow: hidden; */
    margin-bottom: 0px;
    position: relative;
  }
  #title_img h2 {
    position: absolute;
    display: block;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
  }
#title_img > img {
    width: 100%;
    min-height: 400px;
}

section#title {
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 50px;
}
section {
  text-align: center;
}
section h2 {
  font-size: 60px;
  font-family: 'Noto Sans HK', sans-serif;
  margin-top: 5px;
  margin-bottom: 40px;
  color: #2e2e2e;
}
section h3 {
  font-size: 40px;
  color: #565656;
}
/* 타이틀 이미지 */

section > img {
  max-width: 1920px;
  min-width: 1200px;
  height: 500px;
}

/* lnb */
#sub1_3_lnb {
    width: 1200px;
    margin:  0 auto;
}
#sub1_3_lnb li {
  float: left;
  width: calc(1200px / 6);
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #fff;
  margin-bottom: 30px;
  box-sizing: border-box;
  color: #9c9288;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: normal;
}
/* #sub1_3_lnb li:last-child {
    margin-right: 0;
} */
#sub1_3_lnb li a {
    font-size: 20px;
    display: block;
    color: #9c9288;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
}
#sub1_3_lnb li a:hover,
#sub1_3_lnb .active,
#sub1_3_lnb .active > a  {
  color:  #382410;
}
#sub1_3_lnb li a:hover,
#sub1_3_lnb .active > a
{border-bottom: 4px solid #c3512f;}

#sub1_3_lnb.fixed{
  position: fixed;
  /* z-index: 9999; */
  background: #fff;
  margin: 0 auto;
  width: 100%; top: 80px;
  height: 65px;
  clear: both;
  left: 920px;
  transform: translateX(-50%);
  min-width: 1200px;
}
/* breadcrumb */
.location {
    width: 1200px;
    margin: 0 auto;
    color: #787878;
    text-align: right;
    padding-bottom: 100px;
}
/* 사이드바 */
section#menu {
  width: 1200px;
  /* height: 60px; */
  margin: 0 auto;
  z-index: 99999;
  /* overflow: hidden; */
}
.menu_nav {
  /* overflow: hidden; */
  position: fixed;
  /* background: #ccc; */
  display: none;
  right: 90px;
  bottom: 200px!important;
}
/* #menu div {
  margin-bottom: 150px;
} */

/* .menu_nav > a {
  width: 130px;
  height: 130px;
  display: block;
  border-radius: 50%;
  position: relative;
  right: 50px; 
  bottom:320px; 
   padding: 5px; 
  background: #222328;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  line-height: 100px;
  font-style: italic;
} */
/*.menu_nav > a:nth-child(2) {
  line-height: 20px;
  padding-top: 30px;
  padding: 5px;
} */

.menu_nav > a:last-child {
  display: block;
  width: 55px;
  margin: 0 auto;
  height: 30px;
  border-radius: 0px;
  border: 1px solid #2e2e2e;
  background: white;
  color: #2e2e2e;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}
.show {
  display: block;
}

.hide {
  display: none;
}

#map > img {
  width: 1200px;
  height: 1200px;
  padding-top: 100px;
}

/* 커피명가 본사위치 */
#map{
  width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 600px;
}
#map2 {
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  box-sizing: border-box;
  /* overflow: hidden; */
  position: relative;
  height: 600px;
  margin-bottom: 100px;
}
#map > #place_text,
#map2 > #place_text2 {
  /* outline: 1px solid red; */
  float: left;
  text-align: left;
  margin-bottom: 50px;
}
#map div h1,
#map2 div h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 40px;
  width: 1200px;
  color: #382410;
  padding-bottom: 10px;
  /* border-bottom: 2px solid rgba(46,46,46,0.6); */
  padding-top: 30px;
  margin-bottom: 20px;
  /* border-left-style: 2px solid #C3512F; */
}
#map div .dash,
#map2 div .dash{
  width: 0.5px;
  height: 50px;
  border-left: 3px solid #C3512F;
  float: left;
  margin-top: -5px;
  margin-right: 22px;
}
#map > div > h1 > p > span,
#map2 > div > h1 > p > span {
  font-size: 16px;
  margin-left: 20px;
  color: rgba(46,46,46,0.6); 
}

.line {
  width: 1200px;
  display: inline-block;
  border-bottom: 2px solid rgba(46,46,46,0.6);
  margin: 0 auto;
}

#section {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/* 상세정보 */
#away {
  text-indent: -9999px;
  margin-left: -10px;
  width: 130px;
}
#katalk {
  width: 359px;
  margin-right: 70px;
}
.num3 {
  width: 200px;
  margin-right: 150px;
  text-align: left;
  margin-left: 10px;
}
#address1{
  position: absolute;
  margin-top: 219px;
  float: left;
  width: 389px;
}
#address2{
  position: absolute;
  margin-top: 275px;
  float: left;
  width: 389px;
}
#address1 ul li,
#address2 ul li{
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
}
#address1 ul li img{
  position: absolute;
  top: 160px;
  /* outline: 1px solid red; */
  left: 109px;
}
#address2 ul li img{
  position: absolute;
  top: 120px;
  left: 105px;
}
#address1 ul li:nth-child(2n+1),
#address2 ul li:nth-child(2n+1){
  margin-right: 40px;
}
#address1 ul li:nth-child(7){
  margin-right: 32px;
}
#address2 ul li:nth-child(7){
  margin-right: 60px;
}
#address1 ul li:nth-child(9){
  margin-right: 65px!important;
}
#address2 ul li:nth-child(3){
  margin-right: 28px!important;
}
#address2 ul li:nth-child(5){
  margin-right: 30px!important;
}
.gg_map {
  /* position: absolute; */
  float: right;
  height: 350px;
  position: relative;
  /* overflow: hidden; */
}
#else_map,
#else_map2 {
  position: absolute;
  float: left;
  height: 50px;
  margin-top: 5px;
  width: 500px;
}
#else_map div a,
#else_map2 div a {
  display: block;
}
#else_map div a p img,
#else_map2 div a p img{
  /* margin-top: px; */
  float: left;
}
#else_map div a p span,
#else_map2 div a p span {
  /* outline: 1px solid red; */
  display: block;
  margin-top: 5px;
}
#else_map .dash1,
#else_map2 .dash1 {
  border-right: 2px solid #9c9288;
  /* outline: 1px solid red; */
  height: 20px;
  float: left;
  margin-top: 10px;
}
#else_map .naver_map,
#else_map2 .naver_map {
  height: 40px;
  float: left;
  width: 180px;
  margin-right: 15px;

}
#else_map .naver_map:hover,
#else_map .daum_map:hover,
#else_map2 .naver_map:hover,
#else_map2 .daum_map:hover {
  color: #382410;
  border-bottom: 2px solid #c3512f;
}
#else_map .daum_map,
#else_map2 .daum_map {
  height: 40px;
  float: left;
  width: 180px;
  margin-right: 15px;
  margin-left: 13px;
}
#tel {
   margin: 0 auto;
   width: 1200px;
   height: 235px;
   text-align: left;
   margin-bottom: 180px;
}
#map2 #place_text2 {
  /* outline: 1px solid red; */
  float: left;
  text-align: left;
  margin-bottom: 50px;
}