/* tab_menu.css */

/* title_img */
#title_img {
    max-width: 1920px;
    min-width: 1200px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 0px;
    position: relative;
  }
#title_img h2 {
    position: absolute;
    display: block;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    font-family:'Noto Sans KR', sans-serif;
  }
#title_img > img {
    width: 100%;
    min-height: 400px;
}

/* lnb */
#sub2_2_lnb {
    width: 1200px;
    margin:  0 auto;
}
#sub2_2_lnb li {
    float: left;
    width: calc(1200px / 6);
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #fff;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: #9c9288;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
}
#sub2_2_lnb li a {
    font-size: 20px;
    display: block;
    color: #9c9288;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
}
/* #sub2_2_lnb li a:hover {
    color: #382410;
    border-bottom: 2px solid #c3512f;
    border-radius: 0 0 1px 0 solid #c3512f;
    border-bottom-style: 1px solid #c3512f;
} */
#sub2_2_lnb li a:hover,
#sub2_2_lnb .active,
#sub2_2_lnb .active > a  {
  color:  #382410;
}
#sub2_2_lnb li a:hover,
#sub2_2_lnb .active > a
{border-bottom: 4px solid #c3512f;}

#sub2_2_lnb.fixed{
  position: fixed;
  /* z-index: 9999; */
  background: #fff;
  margin: 0 auto;
  width: 100%; top: 80px;
  height: 60px;
  clear: both;
  left: 920px;
  transform: translateX(-50%);
  min-width: 1200px;
}
/* breadcrumb */
.location {
    width: 1200px;
    margin: 0 auto;
    color: #787878;
    text-align: right;
    padding-bottom: 100px;
}
/* 사이드바 */
section#menu1,
section#menu2,
section#menu3,
section#menu4,
section#menu5,
section#menu6 {
  width: 1200px;
  margin: 0 auto;
  z-index: 9999;
  /* overflow: hidden; */
}

.menu_nav {
  /* overflow: hidden; */
    /* background: #ccc; */
  position: fixed;
  display: none;
  right: 100px;
  bottom: 200px;
}
#menu2 > .menu_nav{
  position: fixed;
  /* display: none; */
  right: 100px;
  bottom: 100px;
}
#menu3 > .menu_nav{
  position: fixed;
  /* display: none; */
  right: 100px;
  bottom: 60px;
}
#menu4 > .menu_nav {
  position: fixed;
  /* display: none; */
  right: 100px;
  bottom: 45px;
}
#menu5 > .menu_nav {
  position: fixed;
  /* display: none; */
  right: 100px;
  bottom: 45px;
}
/* .menu_nav > a {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    position: relative;
    right: 50px; 
    bottom:320px; 
     padding: 5px; 
    background: #222328;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    line-height: 100px;
    font-style: italic;
} */
.menu_nav > a:last-child {
  display: block;
  width: 55px;
  margin: 0 auto;
  height: 30px;
  border-radius: 0px;
  border: 1px solid #2e2e2e;
  background: white;
  color: #2e2e2e;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}



section#menu1 img,
section#menu2 img,
section#menu3 img,
section#menu4 img,
section#menu5 img,
section#menu6 img {
  width: 323px;
  /* height: 338px; */
  /* outline: 1px solid blue; */
}

section#menu1 ul,
section#menu2 ul,
section#menu3 ul,
section#menu4 ul,
section#menu5 ul,
section#menu6 ul {
  overflow: hidden;
  width: 1200px;
}

section#menu1 ul > li,
section#menu2 ul > li,
section#menu3 ul > li,
section#menu4 ul > li,
section#menu5 ul > li,
section#menu6 ul > li {
  float: left;
  width: 323px;
  text-align: center;
  margin-right: 70px;
  /* margin-top: 120px; */
  /* margin: 50px 0; */
  /* height: 294px; */
  font-size: 18px;
  margin-bottom: 120px;
  font-weight: bold;
}
#menu1 ul li img,
#menu2 ul li img,
#menu3 ul li img,
#menu4 ul li img,
#menu5 ul li img,
#menu6 ul li img
{margin-bottom: 25px;}
#menu1 ul li:nth-child(4),
#menu1 ul li:nth-child(5),
#menu1 ul li:nth-child(6) {margin-top: -25px;}
#menu2 ul li:nth-child(4),
#menu2 ul li:nth-child(5),
#menu2 ul li:nth-child(6) {margin-top: -25px;}
#menu3 ul li:nth-child(4),
#menu3 ul li:nth-child(5),
#menu3 ul li:nth-child(6) {margin-top: -25px;}
#menu4 ul li:nth-child(4),
#menu4 ul li:nth-child(5),
#menu4 ul li:nth-child(6) {margin-top: -25px;}
#menu5 ul li:nth-child(4),
#menu5 ul li:nth-child(5),
#menu5 ul li:nth-child(6) {margin-top: -25px;}
#menu6 ul li:nth-child(4),
#menu6 ul li:nth-child(5),
#menu6 ul li:nth-child(6) {margin-top: -25px;}
section#menu1 ul > li:first-child{margin-left: 50.5px;}
section#menu2 ul > li:first-child{margin-left: 50.5px;}
section#menu3 ul > li:first-child{margin-left: 50.5px;}
section#menu4 ul > li:first-child{margin-left: 50.5px;}
section#menu5 ul > li:first-child{margin-left: 50.5px;}
section#menu6 ul > li:first-child{margin-left: 50.5px;}
section#menu1 ul > li:nth-child(4){margin-left: 50.5px;}
section#menu2 ul > li:nth-child(4){margin-left: 50.5px;}
section#menu3 ul > li:nth-child(4){margin-left: 50.5px;}
section#menu4 ul > li:nth-child(4){margin-left: 50.5px;}
section#menu5 ul > li:nth-child(4){margin-left: 50.5px;}
section#menu6 ul > li:nth-child(4){margin-left: 50.5px;}
section#menu1 ul > li:nth-child(3n){
  margin-right: 10px;
  margin-left: 25px;
}
section#menu2 ul > li:nth-child(3n){
  margin-right: 10px;
  margin-left: 25px;
}
section#menu3 ul > li:nth-child(3n){
  margin-right: 10px;
  margin-left: 25px;
}
section#menu4 ul > li:nth-child(3n){
  margin-right: 10px;
  margin-left: 25px;
}
section#menu5 ul > li:nth-child(3n){
  margin-right: 10px;
  margin-left: 25px;
}
section#menu6 ul > li:nth-child(3n){
  margin-right: 10px;
  margin-left: 25px;
}

/* div#non_coffee {
  outline: 1px solid red;
} */

#menu1 div,
#menu2 div,
#menu3 div,
#menu4 div,
#menu5 div,
#menu6 div {
  margin-bottom: 150px;
}

#menu1 div h1,
#menu2 div h1,
#menu3 div h1,
#menu4 div h1,
#menu5 div h1,
#menu6 div h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 40px;
  width: 1200px;
  color: #382410;
  padding-bottom: 10px;
  /* border-bottom: 2px solid rgba(46,46,46,0.6); */
  padding-top: 30px;
  /* border-left-style: 2px solid #C3512F; */
}
#menu1 div .dash1{
  width: 0.5px;
  height: 50px;
  border-left: 3px solid #C3512F;
  float: left;
  margin-top: 28px;
  margin-right: 22px;
}
.dash2{
  width: 0.5px;
  height: 50px;
  border-left: 3px solid #C3512F;
  float: left;
  margin-top: 10px;
  margin-right: 22px;
}
#menu1 > div > h1 > p > span,
#menu2 > div > h1 > p > span,
#menu3 > div > h1 > p > span,
#menu4 > div > h1 > p > span,
#menu5 > div > h1 > p > span,
#menu6 > div > h1 > p > span {
  font-size: 16px;
  margin-left: 20px;
  color: rgba(46,46,46,0.6);
  
}
#drip {
  position: relative;
  width: 600px; height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url(../images/handdrip.png);
}
#drip_logo {
  position: relative;
  width: 1200px; height: 190px;
  margin: 0 auto ;
}
#drip_logo img:first-child{
  width: 300px; height: 190px;
  float: left;
  margin-right: 308px;
  margin-left: 146px;
}
#drip_logo img:last-child{
  width: 300px; height: 190px;
}
#drip_text{
  width: 1200px;
  margin: 0 auto; 
  height: 430px;
}
#drip_text h3 {
  color: #c3512f;
  margin-bottom: 8 px;
}
#drip_text h4 {
  color: #9c9288;
  margin-bottom: 8px;
}
#drip_text p {
  color: #382410;
}
#drip_text div:first-child{
  float: left;
  margin-right: 278px;
  margin-left: 146px;
  height: 500px;
}
#drip_text div:last-child{
  float: right;
  height: 600px;
}
#drip_text > div:last-child > article
{margin-bottom: 35px;}


.main_title_text > ul li a {
  font-size: 20px;
  font-weight: bold;
  color: #382410;}

.menu_list{
  width: 1200px;
  height: 500px;
  position: relative;
  top: 150px;
  margin: 0 auto;
  margin-top: -190px;
  /* outline: 1px solid blue; */
  margin-bottom: 130px;
  /* clear: both; */
  /* text-align: center; */
  /* font-size: 18px; */
  /* color: #382410; */
}
#allMenu2 .menu_list {
  margin-bottom: 200px;
}
#allMenu3 .menu_list {
  margin-bottom: 400px;
}
#allMenu4 .menu_list{
  margin-bottom: 90px;
}
#allMenu4 .menu_list ul li {
  width: 190px;
}
#allMenu4 .menu_list ul:first-child {
  margin-right: 20px;
}
#allMenu4 .menu_list ul:nth-child(2) {
  margin-right: 70px;
}
#allMenu5 .menu_list {
  margin-bottom: 140px;
}
.menu_list > ul {
  float: left;
  width: 190px!important;
  /* height: 300px; */
  margin-right: 35px;
  margin-left: 165px;
  font-size: 18px!important;
}
.menu_list > #move_r{
  margin-left: 170px;
}
.menu_list > ul > li{
  float: left!important;
  text-align: left!important;
  height: 10px;
  margin-bottom: 40px;
  display: block;
  color: #382410;
}
.menu_list .blank1{
  margin-top: 15px;
  /* outline: 1px solid red; */
}
.menu_list > #add_text{
  margin-top: 320px;
  margin-right: 140px;
  /* outline: 1px solid red; */
  text-align: right;
  /* margin-bottom: -40px; */
  height: 50px;
  position: absolute;
  right: -140px;
  /* bottom: -50px; */
  font-size: 12px;
  color: #382410;
}
.menu_list > #add_text1{
  margin-top: 410px;
  margin-right: 140px;
  /* outline: 1px solid red; */
  text-align: right;
  /* margin-bottom: -40px; */
  height: 50px;
  position: absolute;
  right: -140px;
  /* bottom: -50px; */
  font-size: 12px;
  color: #382410;
}
.menu_list > #add_text2{
  margin-top: 620px;
  margin-right: 180px;
  /* outline: 1px solid red; */
  text-align: right;
  /* margin-bottom: -40px; */
  height: 50px;
  position: absolute;
  right: -140px;
  /* bottom: -50px; */
  font-size: 12px;
  color: #382410;
}

.menu_list #add_text3{
  margin-top: 250px;
  margin-right: 140px;
  /* outline: 1px solid red; */
  text-align: left;
  /* margin-bottom: -40px; */
  height: 50px;
  position: absolute;
  right: -140px;
  /* bottom: -50px; */
  font-size: 12px;
  color: #382410;
}
#allMenu2 > .inMenu > .menu_list ul {
  width: 220px!important;
  /* outline: 1px solid red; */
  float: left;
  /* width: 190px!important; */
  /* height: 300px; */
  margin-right: 30px;
  margin-left: 150px;
  /* font-size: 18px!important; */
}
#allMenu5 > .inMenu > .menu_list ul {
  width: 230px!important;
  /* outline: 1px solid red; */
  float: left;
  /* width: 190px!important; */
  /* height: 300px; */
  margin-right: 20px;
  margin-left: 150px;
  /* font-size: 18px!important; */
}
#menu1 div:first-child {
  margin-bottom: 0px;
}
#tea_menu{
  float: right;
  width: 450px;
  margin-right: -30px;
  color: #382410;
  /* outline: 1px solid red; */
}
#tea_menu ul{
  width: 360px;
  margin-bottom: 40px;
  /* outline: 1px solid blue; */
}
#tea_menu p{
  margin-left: 10px;
}
#tea_menu img{margin-bottom: 20px;}
.show {display: block;}

.hide {display: none;}
